/build
/*/build
/local.properties
*/.idea
.idea
*/.gradle
.gradle
*.iml
*.log
.DS_Store
/photon80/.cxx
/ble_lib/.cxx
atlassian-ide-plugin.xml
venv/
__pycache__/
secrets.json
jira_credentials.json
/app/.cxx/
